Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -misc-use-internal-linkage

WarningsAsErrors: '*'

CheckOptions:
  readability-identifier-naming.FunctionCase: PascalCase
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberPrefix: 'm_'
  readability-identifier-naming.MemberCase: PascalCase
  readability-identifier-naming.ClassMemberPrefix: 's_'
  readability-identifier-naming.ClassMemberCase: PascalCase
  readability-identifier-naming.StaticVariablePrefix: 's_'
  readability-identifier-naming.StaticVariableCase: PascalCase
  readability-identifier-naming.NamespaceCase: PascalCase
