[submodule "backend/ThirdParty/Crow"]
	path = backend/ThirdParty/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "backend/ThirdParty/asio"]
	path = backend/ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
